{% extends "base.html.twig" %}
{% block title %}Hello city
{% endblock %}
{% block body %}

	<img src="{{asset('/images/dakar.jpg')}}" alt="moi" class="h-40 mt-12 rounded shadow-md">
	<h1 class="mt-5 text-3xl sm:text-5xl font-semibold text-indigo-600">Hello from Dakar</h1>

	<p class="text-lg text-gray-800">Il est
		{{ 'now'|date('h:i H')}}.</p>


{% endblock %}
